@import "tailwindcss";

@keyframes slide-in-right {
  from {
    transform: translateX(-10px);
  }
  to {
    transform: translateX(0);
  }
}

@theme {
  --primary-color: var(--color-indigo-500);
  --secondary-color: var(--color-blue-500);
  --text-color: var(--color-neutral-100);
  --subtext-color: var(--color-neutral-300);
  --background-color: var(--color-stone-950);

  /* animations */
  --animate-slide: slide-in-right 0.8s ease-in-out infinite;
}

@layer {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }

  .subtext-color {
    color: var(--subtext-color);
  }
}

@layer base {
  .container {
    max-width: 92%;

    @media (width >= theme(--breakpoint-sm)) {
      max-width: 600px;
    }

    @media (width >= theme(--breakpoint-md)) {
      max-width: 720px;
    }

    @media (width >= theme(--breakpoint-lg)) {
      max-width: 960px;
    }

    @media (width >= theme(--breakpoint-xl)) {
      max-width: 1140px;
    }

    @media (width >= theme(--breakpoint-2xl)) {
      max-width: 1320px;
    }
  }
}
